:root {
	/* TEXT */
	--text-white: #fff;
	--text-black: #1b1b1b;
	--text-gray: #8d959c;

	/* BACKGROUND */
	--background-black: #1b1b1b;
	--background-blue: #3657d3;

	/* BORDER */
	--border-gray: #8d959c;
	--border-blue: #3657d3;

	/* FONTS */
	--font: 'Montserrat';
}
